:root {
    --space-0: 2px;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 32px;
}

:root {
    --color-hue-primary: hsl(214, 86%, 59%);
    --color-hue-secondary: hsl(73, 84%, 52%);

    --color-error: hsl(5 90% 60%);
    --color-info: hsl(40, 73%, 53%);

    --color-black: color-mix(in srgb, var(--color-hue-primary) 15%, #000);
    --color-white: color-mix(in srgb, var(--color-hue-primary) 1%, #fff);

    --color-gray: color-mix(
        in srgb,
        var(--color-black) 45%,
        var(--color-white)
    );
    --color-gray-light: color-mix(
        in srgb,
        var(--color-gray) 30%,
        var(--color-white)
    );
}

:root {
    --border-0: 1px var(--color-gray-light) solid;
    --border-radius: 2px;
}
