@import "./reset.css";

.stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.stack-row {
    display: flex;
    gap: var(--space-1);
    align-items: center;
}

button {
    --fg-color: var(--color-black);
    --bg-color: var(--color-white);

    color: var(--fg-color);
    background-color: var(--bg-color);
}

button:active {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.border {
    border: var(--border-0);
    border-radius: var(--border-radius);
}

header {
    background-color: var(--color-gray-light);
    padding: var(--space-1);
}
